.input {
  &-reset {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[name="checkbox"],
  &[name="radio"] {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-required {
    color: #777;
  }

  &-required,
  &__label {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.labels {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
