.header {
  padding: 33px 0;

  & .container {
    @include flex-all-sb();
  }

  &__logo {
    width: 135px;
  }

  &__nav {
    margin-left: 48px;

    &-list {
      @include flex-v-center();
    }

    &-item {
      @include mr(22px);
    }

    &-link {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: var(--dark-color);

      &::after {
        display: block;
        content: "";
        border-bottom: 1px solid var(--dark-color);
        transition: all 0.3s ease-in-out;
        transform: scaleX(0);
      }

      &:hover::after {
        transition: all 0.3s ease-in-out;
        transform: scaleX(1);
      }

      &.highlighted {
        color: #eb5783;

        &::after {
          border-bottom: 1px solid #eb5783;
        }
      }
    }
  }

  &__actions {
    &-list {
      @include flex-v-center();
    }

    &-item {
      @include mr(28px);
    }

    &-icon {
      display: inline-block;
      width: 20px;
    }

    &-button {
      padding: 14px 33px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      color: var(--light-color);
      background-color: #7984c0;
      border-radius: 12px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #5b6394;
        transition: all 0.3s ease-in-out;
      }

      &:active {
        background-color: #4c557c;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
